{
  "singleQuote": true,
  "trailingComma": "none",
  "jsxSingleQuote": true,
  "semi": false,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/providers/(.*)$",
    "^@/services/(.*)$",
    "^@/assets/(.*)$",
    "^@/hooks/(.*)$",
    "^@/types/(.*)$",
    "^../(.*)",
    "^./(.*)",
    "(.scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
