@import '../../../assets/styles/_vars';

.wrapper {
	@apply relative block w-full mb-6;
}

.textarea {
	@apply py-2 w-full resize-none border-b;
	min-height: 150px;

	&::placeholder {
		color: $gray;
	}
}

.error {
	@apply absolute -bottom-5 left-0 text-sm w-full text-red;
	font-size: .6rem;
}