@import '../../../../../assets/styles/vars';

.menu {
	@apply list-none;

	& li {
		@apply block mb-8;

		&:last-child {
			@apply mb-0;
		}

		.menu__link {
			@apply flex items-center text-sm text-fontColor font-medium relative;

			.icon {
				@apply block mr-3 h-auto text-gray text-xl;

				max-width: 20px;
				transition: $transition;
			}

			span .number {
				@apply text-primary ml-4;
			}

			&::before {
				@apply h-full bg-primary w-2.5 opacity-0;

				content: '';
				border-radius: 10px;

				position: absolute;
				left: -30px;
				top: 0;
				z-index: 1000;

				transition: $transition;
			}

			&:hover::before {
				@apply opacity-100;
			}

			&:hover .icon {
				@apply text-primary;
			}
		}
	}
}