$default-font: "Noto Sans JP", sans-serif;
$light-gray: rgba(198, 198, 198, .58);
$gray: #A4A4A4;
$primary: #3F72AF;
$font-color: #112D4E;
$gutter40: 35px;
$black: #111;
$white: #fff;
$red: #E21818;

// #DBE2EF #F9F7F7